name: Docker Images

on:
  push:
    branches:
      - '*'
      - '!master'
      - '!main'
    paths:
      - '.github/actions/release-tag/*'
      - '.github/docker-images/**/*'
      - '.github/docker-images/entrypoint.sh'
      - '.github/workflows/docker-images.yml'
      - '.github/workflows/*.sh'

env:
  AWS_S3_BUCKET: ${{ secrets.AWS_S3_BUCKET }}
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  AWS_REGION: 'us-east-1'

jobs:
  linux-images:
    name: ${{ matrix.variant }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        variant:
        - manylinux1-x86
        - manylinux1-x64
        - manylinux2014-x86
        - manylinux2014-x64
        - manylinux2014-aarch64
        - al2012-x64
        - al2-x64
        - ubuntu-16-x64
        - ubuntu-20-aarch64
        - debian-stretch-arm32v5
        - debian-stretch-arm32v7
        - node-10-linux-x64
        - swift-5-al2-x64
        - swift-5-centos-x64
        - swift-5-ubuntu-16-x64
        - rhel8-x64
        - opensuse-leap
        - fedora-34-x64

    steps:
    - name: Checkout Sources
      uses: actions/checkout@v1

    - name: Get release_tag
      uses: ./.github/actions/release-tag
      id: tag

    - name: Install entrypoint
      run: cat .github/docker-images/entrypoint.sh | sed s/version=LATEST/version=${{ steps.tag.outputs.release_tag }}/ > .github/docker-images/${{ matrix.variant }}/entrypoint.sh

    - name: Install qemu/docker
      run: docker run --rm --privileged multiarch/qemu-user-static --reset -p yes
      
    - name: Get ecr login
      run: |
        export INPUT_PASSWORD=$(aws ecr get-login-password --region us-east-1)
        echo $INPUT_PASSWORD | wc -c        

    - name: Build ${{ matrix.variant }} image
      uses: whoan/docker-build-with-cache-action@v4
      with:
        registry: ${{ secrets.AWS_ECR_REPO }}
        username: AWS
        password: $INPUT_PASSWORD
        image_name: ${{ secrets.AWS_ECR_REPO }}/aws-crt-${{ matrix.variant }}
        image_tag: ${{ steps.tag.outputs.release_tag }}
        context: .github/docker-images/${{ matrix.variant }}
        build_extra_args: --compress=true

    - name: Export ${{ matrix.variant }} image to S3/channels/${{ steps.tag.outputs.release_tag }}
      run: |
        export IMAGE_TAG=${{ steps.tag.outputs.release_tag }}
        docker save ${{ secrets.AWS_ECR_REPO }}/aws-crt-${{ matrix.variant }}:$IMAGE_TAG |\
          aws s3 cp - s3://${{env.AWS_S3_BUCKET}}/channels/$IMAGE_TAG/aws-crt-${{ matrix.variant }}.tar.gz

  php-images:
    name: PHP ${{ matrix.version }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        version:
        - "5.5"
        - "5.6"
        - "7.0"
        - "7.1"
        - "7.2"
        - "7.3"
        - "7.4"
        - "8.0"

    steps:
    - name: Checkout Sources
      uses: actions/checkout@v1

    - name: Get release_tag
      uses: ./.github/actions/release-tag
      id: tag

    - name: Install entrypoint
      run: cat .github/docker-images/entrypoint.sh | sed s/version=LATEST/version=${{ steps.tag.outputs.release_tag }}/ > .github/docker-images/phpbrew-linux-x64/entrypoint.sh

    - name: Build ${{ matrix.version }} image
      uses: whoan/docker-build-with-cache-action@v4
      with:
        registry: ${{ secrets.AWS_ECR_REPO }}
        username: ${{ secrets.AWS_ACCESS_KEY_ID }}
        password: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        image_name: ${{ secrets.AWS_ECR_REPO }}/aws-crt-php${{ matrix.version }}-linux-x64
        image_tag: ${{ steps.tag.outputs.release_tag }}
        context: .github/docker-images/phpbrew-linux-x64
        build_extra_args: --compress=true --build-arg PHP_VERSION=${{matrix.version}}

    - name: Export PHP ${{ matrix.version }} image to S3/channels/${{ steps.tag.outputs.release_tag }}
      run: |
        export IMAGE_TAG=${{ steps.tag.outputs.release_tag }}
        docker save ${{ secrets.AWS_ECR_REPO }}/aws-crt-php${{ matrix.version }}-linux-x64:$IMAGE_TAG \
          | gzip \
          | aws s3 cp - s3://${{env.AWS_S3_BUCKET}}/channels/$IMAGE_TAG/aws-crt-php${{ matrix.version }}-linux-x64.tar.gz

  ###############################################################################
  # DOWNSTREAM TESTS
  ###############################################################################
  aws-c-common:
    runs-on: 'ubuntu-latest'
    needs: [linux-images]
    strategy:
      fail-fast: false
      matrix:
        target: [linux-x64]

    steps:
    - name: Checkout Source
      uses: actions/checkout@v1

    - name: Get release_tag
      uses: ./.github/actions/release-tag
      id: tag

    # We can't use the `uses: docker://image` version yet, GitHub lacks authentication for actions -> packages
    - name: Build aws-c-common + consumers
      run: |
        aws ecr get-login-password --region us-east-1 | docker login ${{ secrets.AWS_ECR_REPO }} -u AWS --password-stdin
        export DOCKER_IMAGE=${{ secrets.AWS_ECR_REPO }}/aws-crt-ubuntu-16-x64:${{ steps.tag.outputs.release_tag }}
        docker pull $DOCKER_IMAGE
        docker run --env GITHUB_REF $DOCKER_IMAGE --version=${{ steps.tag.outputs.release_tag }} build -p aws-c-common --target=${{ matrix.target }}
