name: Sanity Tests

on:
  push:
    branches:
      - '*'
      - '!master'
    paths:
      - '.github/workflows/sanity-test.yml'
      - 'builder/**'

jobs:
  cleanup:
    steps:
    - name: Clean up previous branch jobs
      uses: rokroskar/workflow-run-cleanup-action
      env:
        GITHUB_TOKEN: ${{ secret.GITHUB_TOKEN }}
      
  sanity_test:
    name: Sanity Test
    strategy:
      matrix:
        host: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.host }}
    steps:
      - name: Checkout Source
        uses: actions/checkout@v1

      - name: Sanity Test Run Compat (Unix)
        if:  matrix.host != 'windows-latest'
        run: |
          python3 -m builder run test --project tests

      - name: Sanity Test Action (Unix)
        if:  matrix.host != 'windows-latest'
        run: |
          python3 -m builder test --project tests

      - name: Sanity Test Build (Unix)
        if:  matrix.host != 'windows-latest'
        run: |
          python3 -m builder build --project tests

      - name: Sanity Test Run Compat (Windows)
        if: matrix.host == 'windows-latest'
        run: |
          choco install --no-progress vswhere
          python -m builder run test --project tests

      - name: Sanity Test Action (Windows)
        if: matrix.host == 'windows-latest'
        run: |
          choco install --no-progress vswhere
          python -m builder test --project tests

      - name: Sanity Test Build (Windows)
        if: matrix.host == 'windows-latest'
        run: |
          python -m builder build --project tests

  # downstream_test:
  #   strategy:
  #     matrix:
  #       project:
  #         - aws-c-io
  #         - aws-c-mqtt
  #         - aws-c-http
  #         - aws-crt-python
  #         - aws-crt-cpp
  #         - aws-crt-java

  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Checkout Source
  #       uses: actions/checkout@v1

  #     - name: Build ${{ matrix.project }}
  #       run: python3 -m builder build --project ${{ matrix.project }}